body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  font-weight: bold;
  color: #40514e;
}
h1 {
  margin: 50px auto 0px auto;
  font-family: "Sacramento", cursive;
  font-size: 562.5%;
  color: #66bfbf;
}
.para {
  margin: 0px auto 20px auto;
}
h2 {
  font-family: "Montserrat", sans-serif;
  color: #66bfbf;
  font-size: 187.5%;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
  font-size: 125%;
}
.word {
  font-family: "Montserrat", sans-serif;
  font-size: 125%;
}
.profilepic {
  width: 25%;
  margin-top: 10px;
}
.header-block {
  background-color: #e4f9f5;
}
.top-cloud {
  height: 100px;
  position: relative;
  left: 150px;
}
.bottom-cloud {
  height: 100px;
  position: absolute;
}
.mountain {
  height: 500px;
}
.profile {
  width: 50%;
  margin: 100px auto 100px auto;
}
.skills {
  width: 50%;
  margin: 100px auto 100px auto;
}
.skill-row {
  text-align: left;
  line-height: 2;
  margin: 100px auto 100px auto;
}
.cp {
  width: 25%;
  float: left;
  padding-right: 30px;
  position: relative;
  bottom: 10px;
}
.webdev {
  width: 25%;
  float: right;
  padding-left: 30px;
}
hr {
  border-style: dotted none none none;
  border-color: #eaf6f6;
  width: 5%;
  border-width: 7px;
}
.contact-me {
  width: 50%;
  margin: 100px auto 100px auto;
}
.connmess {
  width: 40%;
  margin: 40px auto 60px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.middle-container {
  margin: 100px 0;
}
.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}
a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  margin-right: 15px;
}
a:hover {
  color: #eaf6f6;
}
